<div id="content">
  <div class="container background-white">
    <div class="row margin-vert-30">
      <div class="col-md-12">
        <div class="row">
          {{website_data.terms_and_conditions}}
        </div>
      </div>
    </div>
  </div>
</div>
